@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<section class="white section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h4>Awarding Bodies</h4>
          <p>Where your qualification comes from</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
            <span class="awardHeight img-thumbnail"><a href="https://www.aat.org.uk/"><img src="/media/1620/aatapproved.png" alt="AAT Approved Centre" class="img-responsive"></a></span>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <span class="awardHeight img-thumbnail"><a href="https://www.cipd.co.uk/"><img src="/media/1394/cipd.png" alt="CIPD Approved Centre" class="img-responsive"></a></span>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <span class="awardHeight img-thumbnail"><a href="http://www.cim.co.uk/"><img src="/media/1392/cim-asc-2014-15.png" alt="CIM Awards" class="img-responsive"></a></span>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <span class="awardHeight img-thumbnail"><a href="https://www.i-l-m.com/"><img src="/media/1393/ilm.png" alt="ILM Awards" class="img-responsive"></a></span>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <span class="awardHeight img-thumbnail"><a href="https://www.cips.org/en-GB/"><img src="/media/1403/logo-cips.png" alt="CIPS Awards" class="img-responsive"></a></span>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <span class="awardHeight img-thumbnail"><a href="http://www.ymcaawards.co.uk/"><img src="/media/1699/ymca_awards-1.png" alt="YMCA Awards" class="img-responsive"></a></span>
        </div>
    </div>
  </div>
</section>