@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section class="grey section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h4>Our Courses</h4>
          <p>We have over 65 professionally accredited courses to choose from</p>
        </div>
      </div>
    </div>
    <div id="owl-featured" class="owl-custom">
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/human-resources/"><img src="/images/Human_Resources.png" alt="Human Resources"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/human-resources/">Human Resources</a></h4></div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/accountancy/"><img src="/images/Accountancy.png" alt="Accountancy"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/accountancy/">Accountancy</a></h4></div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/personal-training-fitness-instructor/"><img src="/images/personal_fitness.png" alt="Personal Fitness"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix">
            <h4><a href="/courses/personal-training-fitness-instructor/">Personal Fitness</a></h4>
          </div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/gcse-and-igcse/"><img src="/images/GCSE.png" alt="GCSE & IGCSEs"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/gcse-and-igcse/">GCSE & IGCSEs</a></h4></div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/a-levels/"><img src="/images/A_Levels.png" alt=""><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/a-levels/">A Level</a></h4></div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/leadership-and-management/"><img src="/images/leadership_and_management.png" alt="Leadership & Management"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/leadership-and-management/">Leadership & Management</a></h4></div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/marketing/"><img src="/images/marketing.png" alt="Marketing"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/marketing/">Marketing</a></h4></div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/procurement-and-supply/"><img src="/images/procurement_and_supply.png" alt="Procurement & Supply"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/procurement-and-supply/">Procurement & Supply</a></h4></div>
        </div>
      </div>
      <div class="owl-featured">
        <div class="shop-item-list entry">
          <div class="">
            <a href="/courses/learning-and-development/"><img src="/images/learning_and_development.png" alt="Learning & Development"><div class="magnifier"></div></a>
          </div>
          <div class="shop-item-title clearfix"><h4><a href="/courses/learning-and-development/">Learning & Development</a></h4></div>
        </div>
      </div>
    </div>
  </div>
</section>