@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src='https://c.la1-c2cs-lon.salesforceliveagent.com/content/g/js/36.0/deployment.js'></script>
<script>liveagent.init('https://d.la1-c1-lon.salesforceliveagent.com/chat', '57224000000PE8w', '00D24000000Hpnk');</script>
<div id="liveagent_button_online_5738E0000004CFQ" onclick="liveagent.startChat('5738E0000004CFQ')">
  <div id="open2">
    <div id="containerSS">
      <div class="chatSS">
        <div class="textSS">
          Services Online <span class="fa fa-comment" style="color:#32CD32;"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  if (!window._laq) { window._laq = []; }
  window._laq.push(function () {
    liveagent.showWhenOnline('5738E0000004CFQ', document.getElementById('liveagent_button_online_5738E0000004CFQ'));
    liveagent.showWhenOffline('5738E0000004CFQ', document.getElementById('liveagent_button_offline_5738E0000004CFQ'));
  });
</script>