@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section class="grey section">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title text-center">
        <h4>Social Hub</h4>
        <p>Join our community</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="hidden" class="input field-left" value="@Umbraco.Field("socialInputValues")" id="query">
      <div class="feed"><br><div class="container"><div class="social-feed-container SocialBricks"></div></div></div>
    </div>
  </div>
</section>